<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Cross Browser Testing">

    <parameter name = "URL" value = "https://testautomationu.applitools.com/"/>

    <test name = "Test On Chrome">
        <parameter name = "BrowserType" value = "Chrome"/>
        <classes>
            <class name = "parameters.ParametersTest"/>
        </classes>
    </test>

    <test name = "Test On Firefox">
        <parameter name = "BrowserType" value = "Firefox"/>
        <classes>
            <class name = "parameters.ParametersTest"/>
        </classes>
    </test>

</suite>