<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Automation University Suite">
    <test name="dependencies Test">
        <groups>
            <run>
                <!-- <include name="regression"/> -->
                <exclude name="slow"/>
            </run>
        </groups>
        <classes>
            <class name="dependencies.GroupsAttributes" />
        </classes>
    </test>
</suite>